
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  body{
    background-image: url("./bsi.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;


}


    

.container{
    width: 100px;
    align-items: center;
}
.box{
    align-items: center;
    width: 20px;
    margin: 30px,40px;

}
fieldset{
    width: 50%;
    height: 40%;
    
    margin-left: 110px;
    margin-top: 40px;
    align-items: center;

}
img{
    width: 50px;
    height: 50px;
    
    padding-top: 3px;
    
}
h1{
    size: 10px;
    align-items: center;
}